    <div class="item">
            <div> Avatar URL</div>
            <div> 
            <input type="url"
             name="avatar_url" 
             placeholder="http://"
             value="{{ instructor.avatar_url}}"> 
             
            </div>
        </div>

        <div class="item">
            <div> INSTRUTOR</div>
            <div> 
            <input type="text" name="name" placeholder="Nome do Intrutor"
            value="{{ instructor.name}}"> 
            </div>
        </div>

        <div class="item">
            <div> Data de nascimento</div>
            <div> 
            <input type="date" name="birth" value="{{ instructor.birth}}"> 
            </div>
        </div>

        <div class="item">
            <div> Sexo</div>
                <div>
                    <span><input type="radio" name="gender" value="M" checked {% if instructor.gender == 'M' %}
                    checked
                    {% endif %}> Masculino</span>
                     <span><input type="radio" name="gender" value="F" 
                      {% if instructor.gender == 'M' %}
                    checked
                    {% endif %}> Feminino</span>
                </div>
        </div>

          <div class="item">
            <div> Área de Atuação</div>
                <div>
                    <input type="text" name="services" placeholder="Separe os serviços prestados por  vírgula" 
                    value="{{ instructor.services}}" >
                     
                </div>
        </div>      
        
        <button type="submit">Salvar</button>